.cards-body {
  font: .95em Roboto;
  text-align: center;
  background-color: rgba(224, 224, 200, 0.5);
}

.cards-header {
  font: 3em Roboto;
  padding: 15px;
  padding-left: 30px;
  text-align: left;
  color: #FFFFFF;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 30px;
  z-index: 50;
  background-color: #000000;
}

.cards-main {
  margin: auto;
  margin-top: 10%;
  margin-bottom: 8%;
  min-height: 70%;
  width: 70%;
  min-width: 98%;
  cursor: default;
  font-size: 1.62em;
  border-radius: 5px;
  overflow-y: scroll;
  overflow-x: scroll;
}

.form-name {
  min-width: 45%;
  font-size: 1em;
}

.form-value {
  min-width: 50%;
}

.form-element {
  display: flex;
  padding-top: 1em;
}

.cards-input {
  float: left;
  cursor: default;
  font-size: 1em;
  border-radius: 5px;
  width: 80%;
  height: 1.05em;
}

.cards-deck {
  min-height: 25%;
  background-color: rgb(255 208 180 / 47%);
}

.cards-nocards {
  padding-top: 1em;
  padding-bottom: 1em;
  font-size: 1.6em;
}

.cards-suit {
  display: inline-flex;
  margin: 5px;
  margin-left: 20px;
  margin-right: 20px;
}

.cards-trump {
  background-color: #e70d0df2;
}

.cards-table {
  background-color: #ec60a780;
  margin: 5px;
  margin-top: 30px;
  padding: 2%;
  border-radius: 2%;
  font-size: 1.2em;
  min-height: 60%;
}

.table-style {
  font-size: 2em;
}

.player {
  width: 36%;
  display: inline-flex;
  background-color: #aaaaaa90;
  margin: 25px;
  color:  #080104;
}

.winning {
  background-color: #980d41a6;
  color: #edf1f8;
}
.won {
  background-color: #1118ea;
  color: white;
}

.player-info {
  width: 70%;
  border-style: solid;
  font-size: 1.1em;
}

.player-card {
  width: 30%;
  font-size: .65em;
  margin: auto
}

.player-middle {
  width: 100%;
}

.player-left {
  float: left;
}

.player-right {
  float: right;
}

.cards-status {
  font-size: 3em;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  padding: 15px;
  padding-left: 30px;
  margin: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}

.player-name {
  background-color: #dfdf0040;
}

.player-info-row {
  display: inline-flex;
   width: 100%;
}

.attr {
  width: 45% ;
  text-align: right;
  padding-right: 20px;
  background-color: #08010420;
}
.value {
  width: 45% ;
  text-align: left;
  padding-left: 20px;
}

.bid-form {
  padding-top: 1em;
}
.bid-main {
  margin:  auto;
  margin-top: 3%;
  margin-bottom: 8%;
  min-width: 90%;
  cursor: default;
  font-size: 1.8em;
  border-radius: 5px;
  background-color: rgb(255 208 180 / 47%);
}

.bid-head {

}

.bid-container {

}

.bid-slider {
   -webkit-appearance: none;
  width: 70%;
  height: 2em;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  transition: opacity .2s;
}

.bid-slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 4em;
  height: 4em;
  background: #ec60a7;
  cursor: pointer;
}

.bid-buttons {
  display: flex;

}

.cards-button {
    margin-bottom: 20px;
    padding: 12px 24px;
    border-radius: 8px;
    color: white;
    transition: all 0.1s;
    border: 1px solid transparent;
    background-color: #214988;
    min-width: 26%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
}

.cards-button:active {
  transform: translateX(0.2em);
  transform: translateY(0.2em);
  background-color: #4583e4;
}

.cards-text {
  background-color: #d4b9a0;
  margin: 1em;
  padding: 1em;
}

.button-confirm {
  background-color: #3e8a1f;
}

.button-cancel {
  background-color: #ce331b;
}

.play-main {
  padding: 1em;
}

.play-head {
  font-size: 1.6em;
}

.win-head {
  font-size: 1em;
}

.win-status {
  color: red;
  font-weight: bold;
}

.destroy-element {
  margin-bottom: 10px;
  padding: 12px 24px;
  border-radius: 8px;
  color: white;
  transition: all 0.1s;
  border: 1px solid transparent;
  background-color: #980d41a6;
  min-width: 8%;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  position: fixed;
  bottom: 0;
  left: 10px;
  font-size: 2.5em;
}

.destroy-element-main {
  width: 95%;
  left: 0;
  background-color: #ec7360eb;
}

.leave-element {
  font-size: 1.5em;
  z-index: 1;
}