<div class="cards-header">Sachin's Pandemic Card Game</div>
<div class="cards-main playingCards faceImages">
	<div class="table-style" ng-show="(players.length == numPlayers)">
		(<span ng-show="trumpEmoji">Strong Suit: {{trumpEmoji}}</span>
		 <span ng-show="!trumpEmoji">No Strong Suit</span>
		)
		<span ng-show="bidStatus > 0"> Overbid by {{bidStatus}}</span>
		<span ng-show="bidStatus == 0"> Bids equal to cards dealt</span>
		<span ng-show="bidStatus < 0"> Underbid by {{-bidStatus}}</span>
	</div>
	<div class="cards-deck cards-nocards"
		ng-hide="players.length != numPlayers || cards.spades.length || cards.hearts.length || cards.diamonds.length || cards.clubs.length">
		You've played all your cards
	</div>
	<div class="cards-deck" ng-show="cards.spades.length || cards.hearts.length || cards.diamonds.length || cards.clubs.length">
		<div class="cards-suit {{spadesTrump}}">
			<div ng-repeat="card in cards.spades" ng-click="select(card, 0)" ng-class="{'click-card': (checkState() === '/play')}" class="card rank-{{card | lowercase}} spades">
				<span class="rank">{{card}}</span>
				<span class="suit">♠️</span>
			</div>
		</div>
		<div class="cards-suit cards-red {{heartsTrump}}">
			<div ng-repeat="card in cards.hearts" ng-click="select(card, 1)" ng-class="{'click-card': (checkState() === '/play')}" class="card rank-{{card | lowercase}} hearts">
				<span class="rank">{{card}}</span>
				<span class="suit">♥️</span>
			</div>
		</div>
		<div class="cards-suit {{clubsTrump}}">
			<div ng-repeat="card in cards.clubs" ng-click="select(card, 2)" ng-class="{'click-card': (checkState() === '/play')}" class="card rank-{{card | lowercase}} clubs">
				<span class="rank">{{card}}</span>
				<span class="suit">♣️</span>
			</div>
		</div>
		<div class="cards-suit cards-red {{diamondsTrump}}">
			<div ng-repeat="card in cards.diamonds" ng-click="select(card, 3)" ng-class="{'click-card': (checkState() === '/play')}" class="card rank-{{card | lowercase}} diams">
				<span class="rank">{{card}}</span>
				<span class="suit">♦️</span>
			</div>
		</div>
	</div>
	<div class="cards-table" ng-show="(players.length == numPlayers)">
		<div class="table-player" ng-show="topDisplayPlayer !== null">
			<div class="player player-top {{players[topDisplayPlayer].winning}}">
				<div class="player-info">
					<div class="player-name">{{players[topDisplayPlayer].rank}}: {{players[topDisplayPlayer].name}}</div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value">
							<span ng-hide="(players[topDisplayPlayer].bid == -1)">{{players[topDisplayPlayer].tricks}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value">
							<span ng-hide="(players[topDisplayPlayer].bid == -1)">{{players[topDisplayPlayer].bid}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value">{{players[topDisplayPlayer].score}}</div>
					</div>
				</div>
				<div ng-show="players[topDisplayPlayer].card.rank" class="player-card">
					<div class="card rank-{{players[topDisplayPlayer].card.rank | lowercase}} {{players[topDisplayPlayer].card.suit}}">
						<span class="rank">{{players[topDisplayPlayer].card.rank}}</span>
						<span class="suit">{{players[topDisplayPlayer].card.suitEmoji}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="table-player player-middle" ng-repeat="middle in arrangePlayers">
			<div class="player player-left {{players[middle[0]].winning}}">
				<div class="player-info">
					<div class="player-name">{{players[middle[0]].rank}}: {{players[middle[0]].name}}</div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value">
							<span ng-hide="(players[middle[0]].bid == -1)">{{players[middle[0]].tricks}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value">
							<span ng-hide="(players[middle[0]].bid == -1)">{{players[middle[0]].bid}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value">{{players[middle[0]].score}}</div>
					</div>
				</div>
				<div ng-show="players[middle[0]].card.rank" class="player-card">
					<div class="card rank-{{players[middle[0]].card.rank | lowercase}} {{players[middle[0]].card.suit}}">
						<span class="rank">{{players[middle[0]].card.rank}}</span>
						<span class="suit">{{players[middle[0]].card.suitEmoji}}</span>
					</div>
				</div>
			</div>
			<div class="player player-right {{players[middle[1]].winning}}">
				<div class="player-info">
					<div class="player-name">{{players[middle[1]].rank}}: {{players[middle[1]].name}}</div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value">
							<span ng-hide="(players[middle[1]].bid == -1)">{{players[middle[1]].tricks}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value">
							<span ng-hide="(players[middle[1]].bid == -1)">{{players[middle[1]].bid}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value">{{players[middle[1]].score}}</div>
					</div>
				</div>
				<div ng-show="players[middle[1]].card.rank" class="player-card">
					<div class="card rank-{{players[middle[1]].card.rank | lowercase}} {{players[middle[1]].card.suit}}">
						<span class="rank">{{players[middle[1]].card.rank}}</span>
						<span class="suit">{{players[middle[1]].card.suitEmoji}}</span>
					</div>
				</div>
			</div>
		</div>
		<div class="table-player">
			<div class="player player-bottom {{players[me].winning}}">
				<div class="player-info">
					<div class="player-name">{{players[me].rank}}: {{players[me].name}} (You)</div>
					<div class="player-info-row">
						<div class="attr">Tricks</div>
						<div class="value">
							<span ng-hide="(players[me].bid == -1)">{{players[me].tricks}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Bid</div>
						<div class="value">
							<span ng-hide="(players[me].bid == -1)">{{players[me].bid}}</span>&nbsp;
						</div>
					</div>
					<div class="player-info-row">
						<div class="attr">Score</div>
						<div class="value">{{players[me].score}}</div>
					</div>
				</div>
				<div ng-show="players[me].card.rank" class="player-card">
					<div class="card rank-{{players[me].card.rank | lowercase}} {{players[me].card.suit}}">
						<span class="rank">{{players[me].card.rank}}</span>
						<span class="suit">{{players[me].card.suitEmoji}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="cards-inner-body">
		<div ui-view class="cards-ui-view"></div>
	</div>
</div>
<div class="cards-status" ng-show="status.length">{{status}}</div>
<!-- Ability to Kill the Game -->
<div class="destroy-element" ng-show="(me == 0) && (players.length == numPlayers)" ng-click="showDestroy=true">Destroy</div>
<div class="destroy-element destroy-element-main" ng-show="(me == 0) && showDestroy">
	Are you sure you want to destroy this game?
	<div class="bid-buttons">
		<div class="cards-button button-cancel" ng-click="showDestroy=false">Cancel</div>
		<div class="cards-button" ng-click="destroyGame()">Confirm</div>
	</div>
</div>