<div class="bid-main" style="padding: .2em;">
	<div class="cards-text">GAME SETUP</div>
	<form>
		<div class="form-element">
			<div class="form-name">Your Name</div>
			<div class="form-value">
				<input class="cards-input" type="text" maxlength=8 ng-model="playerName">
			</div>
		</div>
		<div class="cards-text" ng-hide="gameID && gameID.length">Enter the number of players if creating a new game.</div>
		<div class="form-element" ng-hide="gameID && gameID.length">
			<div class="form-name">Number of Players ({{numPlayers}})</div>
			<div class="form-value">
				3 <input class="bid-slider" type="range" min="3" max="8" ng-model="numPlayers"> 8
			</div>
		</div>
		<div class="cards-text">Enter a game code ONLY if joining an existing game.</div>
		<div class="form-element">
			<div class="form-name">Game Code</div>
			<div class="form-value">
				<input class="cards-input" type="text" maxlength=4 ng-model="gameID">
			</div>
		</div>
		<div class="cards-button" ng-click="beginGame(playerName, numPlayers)" 
			ng-show="playerName && playerName.length && !gameID && !gameID.length && numPlayers">Start Game</div>
		<div class="cards-button" ng-click="beginGame(playerName, numPlayers, gameID)" 
			ng-show="playerName && playerName.length && gameID && gameID.length">Join Game</div>
		<div class="cards-button" 
			ng-hide="playerName && playerName.length && numPlayers">Invalid Request</div>
	</form>	
</div>