<div ng-show="displayID" class="bid-main">
	<div>Game Code is <span>{{gameID.toUpperCase()}}</span></div>
	<div class="cards-button ng-isolate-scope" ngclipboard data-clipboard-text="{{gameURL}}" ng-click="urlCopied=true">Copy Link to Send to Friends</div>
	<div ng-show="urlCopied">Game Link Copied</div>
	<div class="cards-button button-cancel" ng-click="showLeave = true">Leave</div>
</div>
<div class="destroy-element destroy-element-main leave-element" ng-show="showLeave">
	Are you sure you want to leave this game?
	<div class="bid-buttons">
		<div class="cards-button button-cancel" ng-click="showLeave=false">Cancel</div>
		<div class="cards-button" ng-click="destroyGame()">Confirm</div>
	</div>
</div>